
<% post.comments.forEach(function(comment,index){%>
<div style="padding-left:4em">
<p><img src="<%= comment.head %>" class="l_head"/><a href="<%=comment.website%>"><%=comment.name%></a>
<span class="info">回复于<%=comment.time%></span>
</P>
<p><%- comment.content%></p>
</div>
<%})%>

<form method="post">
<% if(user){%>
姓名：<input type="text" name="name" value="<%=user.name%>"/><br/><br/>
邮箱：<input type="text" name="email" value="<%=user.email%>"/><br/><br/>
网址：<input type="text" name="website" value="/u/<%=user.name%>" /><br/><br/>
<%}else{%>
姓名：<input type="text" name="name"/><br/><br/>
邮箱：<input type="text" name="email"/><br/><br/>
网址：<input type="text" name="website" value="http://" /><br/><br/>
<%}%>
<textarea name="content" style="width:280px;height:120px;"></textarea><br/><br/>
<input type="submit" value="留言"/>
</form>