<%-include header %>
<% posts.forEach(function(post,index){ %>
<p><h2><a href="/u/<%=post.name%>/<%=post.time.day%>/<%=post.title%>"><%=post.title

%></a></h2>
<a href="/u/<%= post.name %>"> <img src="<%= post.head %>" class="r_head"/></a>
</p>
<p class="info">
作者：<a href="/u/<%=post.name%>"><%=post.name%></a>|
日期：<%=post.time.minute%>|
标签：
<% post.tags.forEach(function(tag,index){ %>
<% if(tag) { %>
<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
<% } %>
<% }) %>
</p>
<p><%-post.post%></p>
<div class="bdsharebuttonbox" style="float:right;margin-right:2em;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script> window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<p class="info bar">阅读：<%= post.pv %>|评论：<%= post.comments.length %></p>
<%})%>
<%-include paging %>
<%-include footer %>